# last_verified: 2026-09-16 · Ansible 14.4.0
# pg_hba.conf.j2 — local trust, remote md5 for app users.

local   all                               all                                     trust
host    all                               all              127.0.0.1/32            trust
host    all                               all              ::1/128                 trust
host    {{ dbserver_db_name }}            {{ dbserver_db_user }}   0.0.0.0/0               md5
host    all                               all              0.0.0.0/0               md5